/*
 Main Yellow #c29d0b
 Dark Yellow #927608

 Main Yellow #f1c40f  
 Dark Yellow #d2aa0c
*/

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

@font-face {
    font-family: 'b-nazanin';
    src:url(../../vendors/fonts/b-nazanin.TTF)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #555;
    font-size: 20px;
    font-family: 'b-nazanin';
    font-weight: 100;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1;}

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.box {
    padding: 1%;
}

section {
    padding: 60px 0;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* --- HEADING --- */
h1,
h2,
h3 {
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
}

h1 {
    margin-bottom: 25px;
    font-size: 300%;
}

h2 {
    font-size: 180%;
    text-align: center;
    margin-bottom: 30px;
}

h2::after {
    content: "";
    display: block;
    width: 9%;
    border-bottom: 2px solid #c29d0b;
    margin: 30px auto 0;
}

h3 {
    font-size: 140%;
    margin: 10px 0;
}

/* --- BUTTONS --- */
.btn:link,
.btn:visited {
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    padding: 5px 25px;
    border-radius: 300px;
    margin: 0 0 0 15px;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.btn-full:link,
.btn-full:visited {
    color: #fff;
    background-color: #c29d0b;
    border: 1px solid #c29d0b;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #c29d0b;
    border: 1px solid #c29d0b;
}

.btn-full:hover,
.btn-full:active {
    background-color:#927608;
    border-color: #927608;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color:#927608;
    border-color: #927608;
    color: #fff;
}

/* --- PARAGRAPH --- */
.long-copy {
    width: 60%;
    margin: 0 auto 30px;
    text-align: justify;
    line-height: 145%;
}

.box p {
    text-align: justify;
    font-size: 95%;
    line-height: 145%;
}

/* --- GENERAL LINKS --- */
a:link,
a:visited {
    text-decoration: none;
    color: #c29d0b ;
    border-bottom: 1px solid #c29d0b;
    transition: color 0.2s, border-bottom 0.2s;
    padding-bottom: 1px;
}

a:hover,
a:active {
    color: #555 ;
    border: 0;
}

/* --- ICONS --- */

.icon-big {
    font-size: 300%;
    color: #c29d0b;
}

.icon-small {
    text-align: center;
    color: #c29d0b;
    vertical-align: middle;
    line-height: 120%;
    margin: 0 0 0 10px;
    font-size: 150%;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/hero-image2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    color: #fff;
}

.logo {
    height: 100px;
    width: auto;
    float: right;
    margin-top: 20px;
}

.main-nav {
    list-style: none;
    float: left;
}

.main-nav li {
    display: inline-block;
    margin: 55px 50px 0 0;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-size: 110%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #c29d0b;
}

.hero-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* ----------------------------------------------- */
/* BOOKS SHOWCASE */
/* ----------------------------------------------- */

.section-books {
    padding: 0;
}

.books-showcase {
    list-style: none;
    width: 100%;
}

.books-showcase li {
    width: 25%;
    float: right;
}

figure {
    width: 100%;
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

.books-showcase li img {
    display: block;
    opacity: 0.7;
    width: 100%;
    height: auto;
    margin: 0;
    transform: scale(1.15);
    transition: opacity 0.5s, transform 0.5s;
}

.books-showcase li img:hover {
    opacity: 1;
    transform: scale(1);
}

/* ----------------------------------------------- */
/* HOW IT WORKS */
/* ----------------------------------------------- */
.section-steps {
    background-color:  #f3f3f3;
}

.step-box:first-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 30px;
}

.step-box:last-child {
    padding-right: 3%;
    margin-top: 60px;
}

.app-screen {
    width: 40%;
}

.work-steps {
    margin-bottom: 50px;
}

.work-steps:last-of-type {
    margin-bottom: 80px;
}

.work-steps div {
    display: block;
    float: right;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #c29d0b;
    padding: 8px;
    color: #c29d0b;
    font-size: 150%;
    margin-left: 25px;
    text-align: center;
    line-height: 145%;
}

.work-steps p {
    padding-top: 10px;
}

.download-icon:link,
.download-icon:visited {
    border: 0;
}

.download-icon img {
    height: 50px;
    width: auto;
    margin-left: 10px;
}

/* ----------------------------------------------- */
/* LIBRARIES */
/* ----------------------------------------------- */

.library-img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.library {
    margin-bottom: 5px;
}

.library a {
    display: inline-block;
    direction: ltr;
}

/* ----------------------------------------------- */
/* TESTIMONIALS */
/* ----------------------------------------------- */

.section-testimonials {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(img/testimonial-back.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}

.testimonials-block {
    display: flex;
}

blockquote {
    font-style: italic;
    line-height: 145%;
    text-align: justify;
    margin-top: 50px;
    padding: 2%;
    position: relative;
    height: 100%;
}

blockquote::before {
    content: '\201d';
    font-size: 300%;
    position: absolute;
    top: -5px;
    right: -5px;
}

cite {
    display: block;
    margin: 30px 0 0 0;
    font-size: 90%;
}

cite img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin: 0 0 0 25px;
    vertical-align: middle;
}

/* ----------------------------------------------- */
/* PRICING */
/* ----------------------------------------------- */

.section-pricing {
    background-color: #f3f3f3;
}

.pricing-box {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
}

.pricing-box div {
    padding: 15px;
    border-bottom: 1px solid #eeeeee;
}

.pricing-box div:first-child {
    background-color: #f8f8f8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pricing-box div:last-child {
    text-align: center;
    border: 0;
}

.pricing-box div a {
    width: 50%;
}

.pricing-text {
    color: #c29d0b;
    font-size: 200%;
    font-weight: lighter;
    margin-bottom: 10px;
}

.pricing-description {
    font-size: 90%;
}

.pricing-text span {
    font-size: 60%;
}

.pricing-box ul {
    list-style: none;
}
